<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNtq0IRfIS_SgSvGrlJMDTLZGVaraCgXk</string>
	<key>GCM_SENDER_ID</key>
	<string>101257066524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hopegainltd.winitagent</string>
	<key>PROJECT_ID</key>
	<string>winit-agent-project</string>
	<key>STORAGE_BUCKET</key>
	<string>winit-agent-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101257066524:ios:599e327b3d66e1e4df87d9</string>
</dict>
</plist>